<div id='navbar'></div>
<div id='left' style="width:20%;">
left
</div>
<div id='center' style="width:60%;">
    <div style="width:100%;height:20px;background-color:red;"></div>
</div>
<div id='right' style="width:20%">
right
</div>
<div style="clear:both;"></div>
<script>
    
</script>
<style>

    #navbar{
        height:30px;
        width:100%;
    }

    #left{
        height:400px;
        float:left;
        background-color:red;
    }

    #center{    
        height:400px;
        float:left;
        background-color:green;
    }

    #right{
        height:400px;
        float:left;
        background-color:blue;
    }
    
</style>
