<div id='navbar'></div>
<div id='left' class="ui-widget-content">
left
</div>
<div id='center' class="ui-widget-content">
centent
</div>
<div id='right' class="ui-widget-content">
right
</div>
<div style="clear:both;"></div>
<style>

    #navbar{
        height:30px;
    }

    #left{
        height:400px;
        width:194px;
        float:left
    }

    #center{    
        height:400px;
        width:400px;
        float:left;
    }

    #right{
        height:400px;
        width:200px;
        float:left;
    }
    
</style>
