<div id='navbar'  class="ui-widget-content" ></div>
<div id='left' class="ui-widget-content">
    <div class="ui-widget-content" style="margin:5px;">
    <ul>
        <li><a href="#">abccccccc</a></li>
        <li>abccccccc</li>
        <li>abccccccc</li>
    </ul>
    </div>
</div>
<div id='center'>
	<div id="effect" class="ui-widget-content ui-corner-all">
		<h3 class="ui-widget-header ui-corner-all">Toggle</h3>
		<p>
			Etiam libero neque, luctus a, eleifend nec, semper at, lorem. Sed pede. Nulla lorem metus, adipiscing ut, luctus sed, hendrerit vitae, mi.
		</p>
	</div>

</div>
<div id='right' class="ui-widget-content">
right
</div>
<div style="clear:both;"></div>

<style>

    #navbar{
        height:30px;
        width:100%;
    }

    #left{
        height:400px;
        width:194px;
        float:left;
    }

    #center{    
        height:400px;
        width:400px;
        float:left;
    }

    #right{
        height:400px;
        width:200px;
        float:left;
    }
    
</style>
