<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />    
        <meta name="keywords" content="<%=keywords%>" />    
        <script src='http://code.jquery.com/jquery-1.4.4.min.js'>
        </script>
        <script src='https://github.com/malsup/form/raw/master/jquery.form.js?v2.43'>
        </script>
        <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js'>
        </script> 
        <link rel="stylesheet" 
            href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/start/jquery-ui.css"
            type="text/css" />
        <link rel="stylesheet" href="/share.css" type="text/css" />
        <script src="/share.js"></script>
        
    <style>
	    #effect { padding: 0.4em; position: relative; margin:5px;}
	    #effect h3 { margin: 0; padding: 0.4em; text-align: center; }
	</style>

    </head>
    </div>
        <div id="toolbar"></div>
        <div id='page'>
            <div id='container' class="ui-widget ui-widget-content  ui-corner-all">
                <div id='header' class="ui-widget ui-widget-content">
                    <img id='logo' src="/logo" />
                    <div id='nav'></div><div cssname="navcss1.css" id="navcss"></div>
                </div>
                <div id="content">
                  <%-body%>
                </div>
                <div id="footer" class="ui-widget ui-widget-content">
                  AAA | BBB | CCC | DDD | EEE 
                </div>
            </div>
        </div>
        <div id="dialog"></div>
    </body>
</html>
<script>
    $.get("/toolbar",function(data){$('#toolbar').html(data);});
    $.get("/state",function(data){
        var state = eval('('+data+')');
        $($('link')[0]).attr('href',state.theme);
        $("#logo").css("width",state.logosize).css('height',state.logosize);
        $("#left").attr("style",state.leftcss);
        $("#center").attr("style",state.centercss);
        $("#right").attr("style",state.rightcss);
        $("body").attr("style",state.bgcss);
        $("body").css("background","url(/bg?"+new Date().getTime()+")");
        
        $("#header").attr("style",state.headercss);
        $("#nav").css("left",state.navleft).css("top",state.navtop);
    });
</script>

