<ul>
   <li><a href="/">首页</a></li>
   <li id="product_navlink"><a href="/product">产品</a></li>
   <li id="zhengshu_navlink"><a href="/zhengshu">证书</a></li>
   <li id="photo_navlink"><a href="/photo">相册</a></li>
   <li id="doc_navlink"><a href="/doc">文章</a></li>
   <li id="job_navlink"><a href="/job">招聘</a></li>
   <li id="contact_navlink"><a href="/contact">联系方式</a></li>
   <li id="about_navlink"><a href="/about">关于我们</a></li>
   <li id="msg_navlink"><a href="/msg">留言</a></li>
</ul>
<script>
    $.get("/state",function(data){
        var state = eval('('+data+')');
        $("#product_navlink").css("display",state.product_navlink_css)
        $("#zhengshu_navlink").css("display",state.zhengshu_navlink_css)
        $("#photo_navlink").css("display",state.photo_navlink_css)
        $("#doc_navlink").css("display",state.doc_navlink_css)
        $("#job_navlink").css("display",state.job_navlink_css)
        $("#contact_navlink").css("display",state.contact_navlink_css)
        $("#about_navlink").css("display",state.about_navlink_css)
        $("#msg_navlink").css("display",state.msg_navlink_css)  
          
        $.get("/"+state.navcss,function(data){
          $("#navcss").html(data);
        });
    });

</script>
