<div id='toolbar'>
<button id="savestate">保存网站状态</button>
    <ul>
        <li><a href='#_theme'>色调</a></li>
        <li><a href='#layout'>布局</a></li>
        <li><a href='#bg'>背景</a></li>
        <li><a href='#btl'>标题栏</a></li>
        <li><a href='#navc'>导航栏</a></li>
        <li><a href='#seo'>SEO搜索优化</a></li>
        <li><a href='#logoco'>标识LOGO</a></li>
        <li><a href='#modules'>系统模块</a></li>
    </ul>
    <div id="navc">
    
        <ul style="float:left;width:100%;margin:0;padding:0;list-style:none;">
           <li navlink="product" class="navlink product_navlink">产品</li>
           <li navlink="zhengshu" class="navlink zhengshu_navlink">证书</li>
           <li navlink="photo" class="navlink photo_navlink">相册</li>
           <li navlink="doc" class="navlink doc_navlink">文章</li>
           <li navlink="job" class="navlink job_navlink">招聘</li>
           <li navlink="contact" class="navlink contact_navlink">联系方式</li>
           <li navlink="about" class="navlink about_navlink">关于我们</li>
           <li navlink="msg" class="navlink msg_navlink">留言</li>
        </ul>
        <hr/>
        <button id="navcss1">样式1</button>
        <button id="navcss2">样式2</button>
        <script>  
            $(".navlink")
                .css("display","inline")
                .css("margin","0px")
                .css("padding","0px")
                .css("padding-left","10px");
            $(".navlink").click(function(){
                var des = $(this).css("text-decoration");
                var navid = "#"+$(this).attr("navlink")+"_navlink";
                
                if("line-through" === des){
                    $(this).css("text-decoration","none");
                    $(navid).css("display","block");
                }else{
                    $(this).css("text-decoration","line-through");
                    $(navid).css("display","none");
                }
            });

            $.get("/state",function(data){
                var state = eval('('+data+')');
                
                        $(".product_navlink").css("text-decoration","none"!== state.product_navlink_css?"none":"line-through")
                        $(".zhengshu_navlink").css("text-decoration","none"!==state.zhengshu_navlink_css?"none":"line-through")
                        $(".photo_navlink").css("text-decoration","none"!==state.photo_navlink_css?"none":"line-through")
                        $(".doc_navlink").css("text-decoration","none"!==state.doc_navlink_css?"none":"line-through")
                        $(".job_navlink").css("text-decoration","none"!==state.job_navlink_css?"none":"line-through")
                        $(".contact_navlink").css("text-decoration","none"!==state.contact_navlink_css?"none":"line-through")
                        $(".about_navlink").css("text-decoration","none"!==state.about_navlink_css?"none":"line-through")
                        $(".msg_navlink").css("text-decoration","none"!==state.msg_navlink_css?"none":"line-through")
            });

            $("#navcss1").click(function(){
                $.get("/navcss1.css",function(data){
                    $("#navcss").html(data);
                    $("#navcss").attr("cssname","navcss1.css");
                });
                
            });
            $("#navcss2").click(function(){
                $.get("/navcss2.css",function(data){
                    $("#navcss").html(data);
                    $("#navcss").attr("cssname","navcss2.css");
                });
                
            });
        </script>   
    </div>
    
    <div id="modules">
        <ul>
            <li modulelink="/gonggao">公告模块</li>
            <li modulelink="/link">友情链接模块</li>
            <li modulelink="/contact">联系方式模块</li>
            <li modulelink="/product/newproduct">最新产品展示模块</li>
            <li modulelink="/product/bestproduct">推荐产品展示模块</li>
            <li modulelink="/producttype">产品类别模块</li>
            <li modulelink="/job">招聘模块</li>
            <li moudlelink="/about">关于我们模块</li>
            <li modulelink="/msg">留言模块</li>
            <li modulelink="/doctype">文章类别模块</li>
            <li modulelink="/doc">文章模块</li>
            <li modulelink="/photo">相册模块</li>
            <li modulelink="/phototype">相册类别模块</li>
        </ul>
    </div>
    <div id='logoco'>
            <form method='post' enctype="multipart/form-data" id="update_logo_form" action='/logo/update'>
                <input type='file' name='data' /><input type='submit' />
            </form>
            <div id='logo-slide'></div>
            <button id='logo-show-image'>显示Logo</button>
            <button id='logo-hide-image'>隐藏Logo</button>
        </div>
        <div style='clear:both'></div>
    </div>
    <div id='_theme'>
        <div class='theme' theme='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/ui-lightness/jquery-ui.css'>
        <img src='/theme_90_ui_light.png' />
        </div>
        <div class='theme' theme='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/ui-darkness/jquery-ui.css'>
        <img src='/theme_90_ui_dark.png'/>
        </div>
        <div class='theme' theme='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/smoothness/jquery-ui.css'>
        <img src='/theme_90_smoothness.png'/>
        </div>
        <div class='theme' theme='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/start/jquery-ui.css'>
        <img src='/theme_90_start_menu.png' />
        </div>
        <div class='theme' theme='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/redmond/jquery-ui.css'>
        <img src='/theme_90_windoze.png' />
        </div>
        <div class='theme' theme='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/sunny/jquery-ui.css'>
        <img src='/theme_90_sunny.png' />
        </div>
        <div class='theme' theme='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/overcast/jquery-ui.css'>
        <img src='/theme_90_overcast.png' />
        </div>
        <div class='theme' theme='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/le-frog/jquery-ui.css'>
        <img src='/theme_90_le_frog.png' />
        </div>
        <div class='theme' theme='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/flick/jquery-ui.css'>
        <img src='/theme_90_flick.png' />
        </div>
        <div class='theme' theme='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/pepper-grinder/jquery-ui.css'>
        <img src='/theme_90_pepper_grinder.png'/>
        </div>
        <div style='clear:both'>
        </div>
    </div>
    <style>
        .theme{
            float:left;
            margin:5px;
        }
    </style>
    <div id='layout'>
        <div class='layout' layout='25:75'>1:3</div>
        <div class='layout' layout='20:60:20'>1:3:1</div>
    </div>
    <script>

    $('.layout').click(function(){

        var layout = $(this).attr('layout');
        var num = layout.split(':');	
        if(num.length==2){$('#right').hide();
        var bb = num[0]+'%';
        var bb2 = num[1]+'%'
        $('#left').css('width',bb);
        $('#center').css('width',bb2);
        }
        else{
        var bb = num[0]+'%'
        var bb2 = num[1]+'%'
        var bb3 = num[2]+'%'
        $('#left').css('width',bb);
        $('#center').css('width',bb2);
        $('#right').show();
        $('#right').css('width',bb3);
        }

        $('#left,#centent,#right').sortable({
        connectWith: ".connectedSortable"
        }).disableSelection();
        
    });
    </script>
    <div id="seo">
    <form method='post' id="update_seo_form" action='/seo/update'>
        <textarea name="keywords"><i>test text</i></textarea>
        <input type='submit' value="搜索优化"/>
    </form>    
    </div>
    <script>
        $('#update_seo_form').ajaxForm(function(data){
            if("success" === data){
                alert("SEO优化成功！");
            }else{
                alert("logo errer!");
            }
        });       
    </script>
    <div id='bg'>
                <form method='post' enctype="multipart/form-data" id="update_bg_form" action='/bg/update'>
                <input type='file' name='data' /><input type='submit' value="更改背景"/>
            </form>
        <button id='show-bg'>显示背景</button>
        <button id='bg-pingpu'>平铺</button>
        <button id='bg-nopingpu'>不平铺</button>
        <button id='bg-zuoshang'>左上对齐</button>
        <button id='bg-shang'>上居中对齐</button>
        <button id='bg-youshang'>右上对齐</button>
        <input type='radio' name='gp' id='bg-gundong'/>
        <input type='radio' name='gp' id='bg-guding'/>
    </div>
    <script>
    $(function(){
        $('#update_bg_form').ajaxForm(function(data){
            if("success" === data){
                $("body").css("background","url(/bg?"+new Date().getTime()+")");
            }else{
                alert("logo errer!");
            }
        });
        $('#show-bg').click(function(){
            $("body").css("background","url(/bg?"+new Date().getTime()+")");});
        $('#bg-gundong').click(function(){
            $('body').css('background-attachment', 'scroll')
        });
        $('#bg-guding').click(function(){
            $('body').css('background-attachment', 'fixed')
        });
        $('#bg-zuoshang').click(function(){
            $('body').css('background-position', 'top left')
        });
        $('#bg-pingpu').click(function(){
            $('body').css('background-repeat', 'repeat')
        });
        $('#bg-nopingpu').click(function(){
            $('body').css('background-repeat', 'no-repeat')
        });
        $('#bg-shang').click(function(){
            $('body').css('background-position', 'top center')
        });
        $('#bg-youshang').click(function(){
            $('body').css('background-position', 'top right')
        });
        $('#bg-guding').click(function(){
            $('body').css('background-attachment', 'fixed')
        });
    })
    </script>
    <div id='btl'>
        <div id='bg'>
        <form method='post' enctype="multipart/form-data" id="update_banner_form" action='/banner/update'>
                <input type='file' name='data' /><input type='submit' value="更改标题栏背景"/>
        </form>
        <div id='slide'></div>
        <button id='btl-show-image'>显示标题栏背景</button>
        <button id='btl-hide-image'>隐藏标题栏背景</button>
    </div>
    <script>
    $(function(){
        $('#update_banner_form').ajaxForm(function(data){
            if("success" === data){
                $("#header").css("background","url(/banner?"+new Date().getTime()+")");
            }else{
                alert("banner errer!");
            }
        });
        $('#slide').slider({
            value: 80,
            min: 80,
            max: 350,
            step: 10,
            slide: function(event, ui){
            $('#header').css('height', ui.value + 'px');
            }
        });
        $('#btl-show-image').click(function(){
            $('#header').css('background','url(/banner?'+new Date().getTime()+')');
        });
        $('#btl-hide-image').click(function(){
            $('#header').css('background', 'none');
        });
    })
    </script>

    <script>
    $(function(){
        $('#logo-slide').slider({
            value: 30,
            min: 30,
            max: 150,
            step: 5,
            slide: function(event, ui){
            $('#logo').css('height', ui.value + 'px');
            $('#logo').css('width', ui.value + 'px');
            }
        });
        $('#logo-show-image').click(function(){
            $('#logo').css('display', 'block');
            $("#logo").attr("src","/logo?"+new Date().getTime());
        });
        $('#logo-hide-image').click(function(){
            $('#logo').css('display', 'none');
        });
        $('#update_logo_form').ajaxForm(function(data){
            if("success" === data){
                $("#logo").attr("src","/logo?dddddd"+new Date().getTime());
            }else{
                alert("logo errer!");
            }
        });
    })
    </script>
    <script>
    $("li[modulelink]").click(function(){
            var url = $(this).attr('modulelink');
            $.get(url,function(data){
                $("#center").html(data);
            });
    });
        
    $('#toolbar').tabs({
	        ajaxOptions:{}
    });

    $('.theme').click(function(o){
	    $($('link')[0]).attr('href',$(this).attr('theme'));							
    });
    
    function savestate(){
    var theme = $($('link')[0]).attr('href');
    var leftcss = $('#left').attr('style');	
    var centercss = $('#center').attr('style');	
    var rightcss = $('#right').attr('style');
    var headercss = $('#header').attr('style');
    var logosize = $('#logo').css('height');
    var navtop = $('#nav').css('top');
    var navleft = $('#nav').css('left');
    var bgcss = $("body").attr("style");
    $.post("/savestate",{
        theme:theme,
        leftcss:leftcss,
        centercss:centercss,
        rightcss:rightcss,
        headercss:headercss,
        logosize:logosize,
        navtop:navtop,
        navleft:navleft,
        bgcss:bgcss,
        product_navlink_css:$("#product_navlink").css("display"),
        zhengshu_navlink_css:$("#product_navlink").css("display"),
        photo_navlink_css:$("#photo_navlink").css("display"),
        doc_navlink_css:$("#doc_navlink").css("display"),
        job_navlink_css:$("#job_navlink").css("display"),
        contact_navlink_css:$("#contact_navlink").css("display"),
        about_navlink_css:$("#about_navlink").css("display"),
        msg_navlink_css:$("#msg_navlink").css("display"),
        navcss:$("#navcss").attr("cssname")
        },function(data){
        alert(data);
    }); 
    
}

    $('#savestate').click(function(){
        savestate();
    });

    $('#left,#center,#right').sortable({
        connectWith: ".connectedSortable"
    }).disableSelection();
    
    $('#left,#center,#right').sortable({
        connectWith: ".connectedSortable"
    }).disableSelection();
</script>
