<ul>
	<% for(var o in zxproducts){ %>
		<li><%= zxproducts[o].name %> <img src="/product/downimg/<%=zxproducts[o].img.path%>" width='80' height='60'/>
		    <a href="/product/edit/<%= zxproducts[o]._id %>">更新</a>  
		    <a href="/product/delete/<%= zxproducts[o]._id %>">删除</a>
		</li>
	<% } %>
</ul>

<a href="/product/page/<%= pageinfo.prevpage%>">prev</a>  
<% for(var k in pageinfo.pages){ %>
    <a href="/product/page/<%= pageinfo.pages[k]%>"><%= pageinfo.pages[k]%></a> 
<% } %>

<a href="/product/page/<%= pageinfo.nextpage%>">next</a>

<a href='/product/add' >添加</a>
