body {
    margin: 0;
    padding: 0;
}

#page {
    text-aligin:center;
}

#container{
    width:800px;
    margin:auto;
}

#header {
    height: 150px;
    position: relative;
}

#logo {
}

#nav {

}

#content {
    width: 800px;
}

#footer {
    height:50px;
    background-color:black;
}





