<table border="1">
    <tr>
        <th>
            登录名称
        </th>
        <th>
            登录密码
        </th>
        <th>
            域名
        </th>
        <th>
            可用性
        </th>
        <th>
            可用日期
        </th>
    </tr>
    <% for(var k in users){ %>
    <tr>
        <td>
            <%= users[k].loginname %>
        </td>
        <td>
            <%= users[k].password %>
        </td>
        <td>
            <%= users[k].domain %>
        </td>
        <td>
            <%= users[k].enable %>
        </td>
        <td>
            <%= users[k].date %>
        </td>
        <td>

            <a href="/admin/edit/<%= users[k]._id %>">更新</a>
            <a href='/admin/edit/<%= users[k]._id %>'>编辑</a> 
            <a href='/admin/delete/<%= users[k]._id %>'>删除</a> 
        </td>
    </tr><% } %>
</table><a href="/admin/add">添加用户</a>
