<ul>
    <% for(var k in errmsg){ %>
        <li><%=errmsg[k]%></li>
    <% } %>
</ul>
<form method='post' enctype="multipart/form-data" id="edit_contact_form" action='/contact/<%= contact._id %>/update'>
    <fieldset>
    <legend>更改联系方式</legend>
    <label for='contact_content'>
        联系方式名称
    </label>
    <textarea name="content"><%=contact.content?contact.content:""%></textarea>
    <input type="submit" value="更新"/>
</form>

<script>
    $("#edit_contact_form").ajaxForm(function(data){
           if("success" == data){
            $.get("/contact?"+new Date().getTime(),function(data){
                $("#content").html(data);
                $("#dialog").dialog('close');
            });    
           }else{
            $("#dialog").html(data);
            $("#dialog").dialog('open');
           }
    });
</script>
