<ul>
    <% for(var k in errmsg){ %>
        <li><%=errmsg[k]%></li>
    <% } %>
</ul>
<form method='post' enctype="multipart/form-data" id="edit_about_form" action='/about/<%= about._id %>/update'>
    <fieldset>
    <legend>更改关于我们</legend>
    <label for='about_content'>
        关于我们名称
    </label>
    <textarea name="content"><%=about.content?about.content:""%></textarea>
    <input type="submit" value="更新"/>
</form>

<script>
    $("#edit_about_form").ajaxForm(function(data){
           if("success" == data){
            $.get("/about?"+new Date().getTime(),function(data){
                $("#content").html(data);
                $("#dialog").dialog('close');
            });    
           }else{
            $("#dialog").html(data);
            $("#dialog").dialog('open');
           }
    });
</script>
