<div id="link_module" style="margin:5px;position:relative" class="ui-widget-content ui-corner-all">
<div class="ui-widget-header" >
<span>友情链接</span>
<% if(logined){ %>
<span id="open_add_link_dialog_link" >添加</span>
<% } %>
</div>
<ul>
	<% for(var o in links){ %>
		<li>
		<a href="/link/<%= links[o]._id %>">
		<%= links[o].name %>
		</a>
		    <% if(logined){ %>
		    <a class="open_edit_link_dialog_link" href="#" url="/link/<%= links[o]._id %>/edit">更新</a>  
		    <form method='post' class="del_link" action='/link/<%= links[o]._id %>'>
		        <input type='hidden' name='_method' value='delete' />
		        <input type='submit' value='删除' />
		    </form>
		    <% } %>
		</li>
	<% } %>
</ul>
</div>

<script>
    
    $("#open_add_link_dialog_link").click(function(){
        $.get("/link/new",function(data){
           $("#dialog").html(data);
           $("#dialog").dialog('open');
        });
    });
    
    $(".open_edit_link_dialog_link").click(function(){
        var linkurl = $(this).attr('url');
        $.get(linkurl,function(data){
           $("#dialog").html(data);
           $("#dialog").dialog('open');
        });
    });


    $(".del_link").ajaxForm(function(data){
          if("success" == data){
            $.get("/link",function(data){
                $("#link_module").replaceWith(data);
                $("#dialog").dialog('close');
            });
          }
    });
    
</script>
