<ul>
    <% for(var k in errmsg){ %>
        <li><%=errmsg[k]%></li>
    <% } %>
</ul>
<form method='post' enctype="multipart/form-data" id="add_link_form" action='/link/create'>
    <fieldset>
    <legend>添加友情链接</legend>
    <label for='link_name'>
        友情链接名称
    </label>
    <input id='link_name' type='text' name='name' value='<%- link?(link.name?link.name:"") : "" %>' name='name' />
    <label for='link_small_img'>
        友情链接小图
    </label>
    <input id='link_small_img' type='file' name='smallimg' />
    <label for='link_big_img'>
        友情链接大图
    </label>
    <input id='link_big_img' type='file' name='bigimg' />
    <label for="link_type">产品类别</label>
    <select id="link_type" name="type">
        <% if(link.type){ %>
            <option value="<%=link.type %>"><%=link.type %></option>
        <% } %>
        <option value="abc">aaa</option>
        <option value="abc">bbb</option>
    </select>
    <label for="link_validatnum">
        验证码<%= validatnum.first %> + <%= validatnum.second %>
    </label>
    <input id='link_validatnum' type='text' name='validatnum' />
    <input type='submit' value='添加友情链接' />
    </fieldset>
</form>
<style>
    input , textarea ,select{
        display : block;
    }
</style>

<script>
    $("#add_link_form").ajaxForm(function(data){
           if("success" == data){
            $.get("/link?"+new Date().getTime(),function(data){
                $("#link_module").replaceWith(data);
                $("#dialog").dialog('close');
            });    
           }else{
            $("#dialog").html(data);
            $("#dialog").dialog('open');
           }
    });
</script>
