<ul>
    <% for(var k in errmsg){ %>
        <li><%=errmsg[k]%></li>
    <% } %>
</ul>
<form method='post' enctype="multipart/form-data" id="edit_photofolder_form" action='/photofolder/<%= photofolder._id %>/update'>
    <fieldset>
    <legend>更改相册</legend>
    <label for='photofolder_name'>
        相册名称
    </label>
    <input id='photofolder_name' type='text' name='name' value='<%=photofolder.name%>' />
    <label for='photofolder_small_img'>
        相册小图
        <img src="/photofolder/img/<%=photofolder.smallimg.path%>" width='120' height='120'/>
    </label>
    <input id='photofolder_small_img' type='file' name='smallimg' />
    <label for='photofolder_big_img'>
        相册大图
        <img src="/photofolder/img/<%=photofolder.bigimg.path%>" width='120' height='120'/>
    </label>
    <input id='photofolder_big_img' type='file' name='bigimg' />
    <label for="photofolder_type">产品类别</label>
    <select id="photofolder_type" name="type">
        <option value="<%=photofolder.type%>"><%=photofolder.type%></option>
        <option value="abc">aaa</option>
        <option value="abc">bbb</option>
    </select>
    <label for="photofolder_validatnum">
        验证码<%= validatnum.first %> + <%= validatnum.second %>
    </label>
    <input id='photofolder_validatnum' type='text' name='validatnum' />
    <input type='submit' value='更改相册' />
    </fieldset>
</form>
<style>
    input , textarea ,select{
        display : block;
    }
</style>

<script>
    $("#edit_photofolder_form").ajaxForm(function(data){
           if("success" == data){
            $.get("/photofolder?"+new Date().getTime(),function(data){
                $("#content").html(data);
                $("#dialog").dialog('close');
            });    
           }else{
            $("#dialog").html(data);
            $("#dialog").dialog('open');
           }
    });
</script>
