<ul>
    <% for(var k in errmsg){ %>
        <li><%=errmsg[k]%></li>
    <% } %>
</ul>
<form method='post' enctype="multipart/form-data" id="edit_job_form" action='/job/<%= job._id %>/update'>
    <fieldset>
    <legend>更改招聘</legend>
    <label for='job_name'>
        招聘名称
    </label>
    <input id='job_name' type='text' name='name' value='<%=job.name%>' />
    <label for='job_small_img'>
        招聘小图
        <img src="/job/img/<%=job.smallimg.path%>" width='120' height='120'/>
    </label>
    <input id='job_small_img' type='file' name='smallimg' />
    <label for='job_big_img'>
        招聘大图
        <img src="/job/img/<%=job.bigimg.path%>" width='120' height='120'/>
    </label>
    <input id='job_big_img' type='file' name='bigimg' />
    <label for="job_type">产品类别</label>
    <select id="job_type" name="type">
        <option value="<%=job.type%>"><%=job.type%></option>
        <option value="abc">aaa</option>
        <option value="abc">bbb</option>
    </select>
    <label for="job_validatnum">
        验证码<%= validatnum.first %> + <%= validatnum.second %>
    </label>
    <input id='job_validatnum' type='text' name='validatnum' />
    <input type='submit' value='更改招聘' />
    </fieldset>
</form>
<style>
    input , textarea ,select{
        display : block;
    }
</style>

<script>
    $("#edit_job_form").ajaxForm(function(data){
           if("success" == data){
            $.get("/job?"+new Date().getTime(),function(data){
                $("#content").html(data);
                $("#dialog").dialog('close');
            });    
           }else{
            $("#dialog").html(data);
            $("#dialog").dialog('open');
           }
    });
</script>
